*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body{
    background-image: url(../img/Vector+1.svg);
    background-size: cover;
    background-color: #0075f0;
    background-position: right top;
    position: absolute;
}

.contenedor{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
}

.textos{
    margin-left: 40px;
    z-index: 1;
    color: white;
    text-align: justify;

}

.titulo{
    font-size: 40px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    -webkit-text-stroke: 1.5px black;
    padding: 70px 0 40px 0;
    text-align: center;
}

.subtitulo{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 50px;
}

button{
    display: inline-block;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border-style: none;
    font-size: 18px;
    background-color: #00D1FF;
}

button a{
    color: black;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
}

button:hover{
    background-color: rgb(0, 81.96, 100, 0.9); 
    text-decoration: underline rgb(0, 0, 12);
}

.imagen{
    position: relative;
    top: 70px;
    right: 10px;
    z-index: 1;
}

img{
    width: 800px;
    height: 400px;
}