*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body{
    height: 100%;
    background-color: rgba(138, 138, 138, 0.472);
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-lg{
    display: flex;
    width: 700px;
    height: auto;
    background-color: transparent;
}

.login{
    width: 400px;
    height: 500px;
    background-color: white;
    color: black;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 10px;
    animation-name: border;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes border{
    0%{
        border-radius: 0%;
    }
    100%{
        border-top-left-radius: 20%;
        border-bottom-left-radius: 20%;
    }
}

.jay{
    border-radius: 50%;
    position: absolute;
    width: 90px;
    height: 90px;
    top: 80px;
    left: 640px;
}

.login .title{
    padding: 0;
    margin: 0;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
    margin-top: 15px;
}

.login h2{
    margin: 0;
    padding: 0;
    font-weight: unset;
    display: block;
    font-size: 25px;
}

.login input{
    width: 100%;
    height: 50px;
    margin: 10px;
    padding-left: 10px;
    color: black;
    border: none;
    border-color: transparent;
    border-bottom: black 3px solid;
    font-size: 16px;
}

.acceder{
    width: 100%;
    height: auto;
    margin: 10px 0px;
    border: none;
    outline: none;
    color: black;
    background-color: rgb(33, 182, 219);
    font-size: 26px;
    padding-bottom: 5px;
    border-radius: 25px;
}

.login .acceder a{
    color: white;  
    text-decoration: none; 
}

.acceder:hover{
    background-color: rgb(33, 182, 219, 0.5);
    text-decoration: underline white;
    cursor: pointer;
}

.login a{
    display: block;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
    color: darkgrey;
}

.login a:hover{
    color: black;
}

.login-nt{
    width: 400px;
    height: 500px;
    background-color: black;
    color: white;
    box-sizing: border-box;
    padding: 40px 40px;
    border-radius: 10px;
    animation-name: borde2;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes borde2{
    0%{
        border-radius: 0%;
    }
    100%{
        border-top-right-radius: 20%;
        border-bottom-right-radius:20%;
    }
}

.yohana{
    border-radius: 50%;
    position: absolute;
    width: 90px;
    height: 90px;
    top: 80px;
    left: 980px;
}

.login-nt .title{
    padding: 0;
    margin: 0;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
    margin-top: 15px;
    font-size: 25px;
}

.login-nt button{
    width: 100%;
    margin: 20px 0;
    position: relative;
    border-radius: 10px;
    border-style: none;
    padding: 10px 0px;
}

.login-nt button i{
    position: absolute;
    top: 15px;
    left: 15px;
}

.login-nt .mail{
    background-color: #db4a39;
    color: white;
    font-size: 18px;
}

.login-nt .mail:hover{
    background-color: rgba(219, 74, 57, 0.8);
    cursor: pointer;
    text-decoration: underline;
}

.login-nt .fb{
    background-color: #3b5999;
    color: white;
    font-size: 18px;
}

.login-nt .fb:hover{
    background-color: rgba(59, 89, 153, 0.8);
    cursor: pointer;
    text-decoration: underline;
}

.login-nt .tw{
    background-color: #00acee;
    color: white;
    font-size: 18px;
}

.login-nt .tw:hover{
    background-color: rgba(0, 172, 238, 0.8);
    cursor: pointer;
    text-decoration: underline;
}

.login-nt .ig{
    background-image: linear-gradient(to bottom right, #515BD4, #8134AF, #DD2A7B, #FEDA77, #F58529);
    color: white;
    font-size: 18px;
}

.login-nt .ig:hover{
    background-image: linear-gradient(to bottom right, rgb(81, 91, 212, 0.8), rgb(129, 52, 175, 0.8), rgb(221, 42, 123, 0.8), rgb(254, 218, 119, 0.8), rgb(254, 133, 41, 0.8));
    cursor: pointer;
    text-decoration: underline;
}