*{
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
}

body{
    height: 100%;
    background-color: rgba(138, 138, 138, 0.472);
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.form{
    width: 400px;
    height: 650px;
    background-color: black;
    color: white;
    padding: 40px;
    border-radius: 10px;
    animation-name: form;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes form{
    0%{
        border-radius: 0%;
    }
    100%{
        border-radius: 20%;
    }
}

.tittle{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 10px 0;
}

h2{
    font-weight: lighter;
    font-size: 25px;
    padding: 15px 0;
    margin-left: 15x;
    display: block;
}

input{
    width: 100%;
    height: 40px;
    padding-left: 5px;
    margin: 10px 0;
    font-size: 20px;
    border: none;
    color: white;
    background-color: transparent;
    border-bottom: 2px solid white;
}

button{
    width: 100%;
    margin: 15px 0;
    font-size: 18px;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 5px;
    background-color: rgb(33, 182, 219);
}

.form button a{
    color: white;
    text-decoration: none;
    padding-bottom: 10px;
}

.form button:hover{
    background-color: rgba(33, 182, 219, 0.8);
    text-decoration: underline;
    cursor: pointer;
}

.form a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    margin-top: 10px;
    font-size: 20px;
}

.form a:hover{
    text-decoration: underline;
}
